p{
    font-weight: bold;
    font-size:large;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; /* Optional: Use z-index to control the layering of elements */
  }
  .container{

    justify-content: center;
    align-items: center;
  }
  body{
    margin-top: 90px;
    background: linear-gradient(to right, rgb(57, 116, 147), rgb(38, 39, 66));
    transition: background-color 0.5s ease; /* Add the transition property */

  }
  th{
    background-color: #7e8db1;
    border-radius: 5px;
  }
  .weeklyTable{
      margin: 10px;
      border-radius: 5px;

  }
  table{
    box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.3);

  }

     /* CSS for setting the height of table cells */
     table.table-fixed-height td,
  table.table-fixed-height {
    height: 180px;
    vertical-align: middle;
    border-radius: 5px;

  }

  table.nested-table th {
    height: auto;
    font-size: small;
    border-radius: 5px;
    /* width: 100%; */

  }

      /* CSS for the icon container */
      .icon-container {
    position: relative;
    float: right;
    margin-top: 10px;
    height: 40px;
  }
  .icon{
    height: 100px;
    font-size: 24px;
  }
  .flatpickr-calendar {
    background-color: #767474;
    color: #fff;
  }

  .flatpickr-month {
    background-color: #333;
  }

  .flatpickr-days {
    background-color: #222;
  }

  .flatpickr-weekdays {
    background-color: #444;
  }

  .flatpickr-day {
    color: #fff;
  }

  .flatpickr-prev-month, .flatpickr-next-month {
    color: #aaa;
  }

  .flatpickr-today {
    background-color: #666;
  }

  .flatpickr-confirm, .flatpickr-clear, .flatpickr-time {
    background-color: #555;
    color: #fff;
  }

  .flatpickr-input, .flatpickr-calendar.open {
    border-color: #333;
    margin-left: 90px; /* Adjust this value to move the date picker to the right */

  }
  .highlight-monday .flatpickr-day:not(.flatpickr-disabled).flatpickr-day--monday {
    background-color: #F76A8C;
    color: #fff;
  }

  td {
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    transition: background-color 1.3s ease;
    width: 100px; /* Set your desired width */
    /* white-space: nowrap; Prevent text wrapping */
    /* overflow: hidden; Hide overflow if any */
    font-size: small;
    
}




  td:hover{
    background-color: #bccadf;
  }
  
  .modal, .fade {
/* display: flex !important; */
align-items: center;
justify-content: center;
vertical-align:middle;
}
.navbar {
    background: linear-gradient(to right, #aaa9a7, #18262a); /* Gradient background */
    border-bottom: 3px solid #3d3d3d; /* Bottom border */
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);

  }
  .loading-spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    /* color: red; */
  }
  
  /* Customize the size and color of the spinner */
  .custom-spinner {
    padding-top: 17px;
    width: 4rem;
    height: 4rem;
  }

  .custom-spinner .spinner-border {
    color: #7a0303;
    border-style: dashed; /* Use 'double' for a different spinner style */
    border-width: 0.3em; /* Adjust border width */

  }
  .fade-in-image {
    opacity: 0;
    transition: opacity 1.5s ease; /* Adjust the transition duration and easing function as needed */
  }
  /* Custom CSS to style the cards */
  #cardContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: 110px;
    height: 170px;
    margin: 8px;
    background: linear-gradient(to right, #6dc8e9, rgb(101, 120, 211));
    color: rgb(30, 30, 30);
    cursor: grab; /* Set cursor to indicate draggable */
    /* font-size: 230px; */
    transition: background-color 0.8s ease; /* Add the transition property */


  }
  .card-body{
    padding: 10px;
  }
  .card-text{
    font-size: smaller;
  }
  .card:hover{
    background-color: #b76733;
  }
  .card-text{
    font-size: small;
  }
  .card-title{
    font-size: small;
  }
  .col-lg-6 {
    position: relative;
    /* padding-right: 15px; /* Adjust as needed */
    /* padding-left: 15px; Adjust as needed  */
    border: #18262a;
    border-width: 2px;
    border-color: #18262a;
    background-color: #9eb8f4;;
    border-radius: 20px;
    margin: 15px;
    width: 20%;
    padding: 20px;
    padding-left: 30px;
  }
  .col-lg-4 {
    justify-content: center;
    position: relative;
    /* padding-right: 15px; /* Adjust as needed */
    /* padding-left: 15px; Adjust as needed  */
    border: #18262a;
    border-width: 2px;
    border-color: #18262a;
    background-color: #9eb8f4;
    border-radius: 20px;
    margin: 15px;
    width: 20%;
  }
  .col-lg-3 {
    justify-content: center;
    position: relative;
    /* padding-right: 15px; /* Adjust as needed */
    /* padding-left: 15px; Adjust as needed  */
    border: #18262a;
    border-width: 2px;
    border-color: #18262a;

    border-radius: 20px;
    margin: 15px;
    width: 20%;
  }
  .col-lg-7 {
    justify-content: center;
    position: relative;
    /* padding-right: 15px; /* Adjust as needed */
    /* padding-left: 15px; Adjust as needed  */
    border: #18262a;
    border-width: 2px;
    border-color: #18262a;

    border-radius: 20px;
    margin: 15px;
    width: 20%;
  }
  .col-lg-2 {
    justify-content: center;
    position: relative;
    /* padding-right: 15px; /* Adjust as needed */
    /* padding-left: 15px; Adjust as needed  */
    border: #18262a;
    border-width: 2px;
    border-color: #18262a;

    border-radius: 20px;
    margin: 15px;
    width: 20%;
  }
  .box-Shadow {
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
  }
  .card{
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #696f70;

  }
  .modal-content{
    box-shadow: 0px 0px 20px 20px rgba(10, 61, 215, 0.674);

  }
  .module{
    box-shadow: 10px 5px 10px rgb(78, 78, 78);
    border: 1px solid #696f70;
    background-color: hsl(229, 44%, 81%);
  }
  