<!DOCTYPE html>
<html>
<head>
  <title>External Link Update</title>
  <link rel="icon" type="image/x-icon" href="../images/coding.png">;
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <style>
        body{
          background: linear-gradient(to right, rgb(60, 128, 122), rgb(30, 22, 77));
            color: white;
        }

    </style>



</head>
<body>
  <div class="container">
    <br><br><br>
    <h1>Update External Url</h1>

    <form>
      <hr>  
      <p>
        Use this form to populate the external link for any job inside of logistix AI portal. 
      </p>
      <div class="form-group">
        <label for="field1">Job Number / PO Number</label>
        <input type="text" class="form-control" id="field1" name="field1">
      </div>

      <div class="form-group">
        <label for="field2">URL</label>
        <input type="text" class="form-control" id="field2" name="field2">
      </div>
      <br><hr>

      <button type="button" class="btn btn-primary" onclick="handleSubmit()">Submit</button>
    </form>
  </div>


  <!-- Include Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>


  <!-- Include Bootstrap JS -->
  <script src="../Scripts/main.js"></script>
  
  <script>
    var bearerToken;

    

    function handleSubmit() {
      // Retrieve the values from the text fields
      var field1Value = document.getElementById('field1').value;
      var field2Value = document.getElementById('field2').value;
      
      // Perform any desired actions with the values
      console.log('Field 1 value:', field1Value);
      console.log('Field 2 value:', field2Value);
      
      // Add your custom logic here
      const token = bearerToken;

        const headers = {
            'Authorization': `Bearer ${token}`
        };


        // Here is where I will make the Axios POST
        const data3 = 
            {
            "notes":[
                {
                    "note":""
                },
                {
                    "note":""
                }
            ],
            "imsUrl":field2Value,
                "workOrderCost":[
                {
                    "itemNumber":"",
                    "unitCost":""
                }
            ],
            "activities":[
                {
                    "subject":"",
                    "status":"",
                    "type":" ",
                    "dueDate":"",
                    "crewLeading":""
                }
            ],
            "jobPayments":[
                {
                    "paymentNumber":"",
                    "requestedAmount":"",
                    "paymentDescription":"",
                    "type":"",
                    "status":""
                }
            ]

        }
                axios.put('https://api.logistixai.com/api/orders/v5/'+field1Value, data3, { headers })
                .then(response => {
                       console.log(response);


                    })
                    .catch(error => {
                        console.error('Error:', error);
                        
                    });

      
      // Example: Display an alert with the values
      // alert('Field 1 value: ' + field1Value + '\nField 2 value: ' + field2Value);



      // Clear the text fields
      document.getElementById('field1').value = '';
      document.getElementById('field2').value = '';
    }
  </script>

