<!DOCTYPE html>
<html>
<head>
  <title>Create Exception PO</title>
  <link rel="icon" type="image/x-icon" href="../images/Adobe-Premiere-Pro (2).png">


  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <link rel="stylesheet" href="../CSS/mainstyle.css">




</head>
<body>


  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <img style="width: 11%; margin-right: 40px;" src="../images/incredible Logo.png" alt="Incredible">
      <!-- <a class="navbar-brand" href="#">Your Logo</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
    
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" style="font-size: medium; font-weight: bold; color: #222;" href="https://jwilly117.github.io/Incr.Apps/views/importjob.html">Import Lowes Job</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-size: medium; font-weight: bold; color: #222; margin-left: 40px;" href="" onclick="alert('Coming Soon...')">Update Ext. Links</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" style="font-size: medium; font-weight: bold; color: #222; margin-left: 40px;" href="" onclick="alert('Coming Soon...')">Week View</a>
          </li> -->
        </ul>
      </div>
  
      <div class="ml-auto">
        
      </div>

     

    


    </nav>
  </header>



  <div class="container">
    <br><br><br>
    <h1 style="color: rgb(225, 186, 42);"><img src="../images/Icon.png" alt="Icon" style="height: 40px; margin-bottom: 17px; margin-right: 5px;">reate Internal PR / Exception</h1>

    <form>
        
      <p>
        <!-- Use this form to create an internal PR in LogistixAI based on the original Job GUID. </p> -->
        <p style="font-weight: bold; color: aqua;"><i>UPDATE - 7.6.2024:</i> <br> 1. The PR Amount has been updated to push to the the financial tab 3 seconds after the PR is created. Give it a try!</p>
        <p style="font-weight: bold; color: aqua;">2. The "external link" found in the job information in Logisitix, will now contain a hyperlink back to the original job.  </p>
      </p>
      <div class="form-group">
        <label for="originalURL">Original Job GUID  </label>
        <input type="text" class="form-control" id="originalURL" name="originalURL">
      </div>


      <!-- Need to figure out how to fire off a jacascript function when one of 
        these is clicked so that it populates the feilds below -->
      <div class="form-group">
        <label for="QuickCreateSelection">🌟 Quick Create - DONT USE YET</label>
        <select multiple class="form-control form-control-lg" id="QuickCreateSelection" style="height: 155px;">
          <option>🟦 Lowes PR - Trip Charge *WIP*</option>
          <option>🟦 Lowes PR - Additional or Missing Labor *WIP*</option>
          <option>🟦 Lowes PR - Other *WIP* - Please provide description</option>
          <option>🟦 Lowes KIT - Design Review *WIP*</option>
          <option>🟨 Home Depot - *WIP*</option>
        </select>
      </div>

      <div class="form-group">
        <label for="Total">PR #</label>
        <input type="text" class="form-control" id="prNum" name="prNum">
      </div>

      <div class="form-group">
        <label for="Total">PR Amount</label>
        <input type="text" class="form-control" id="Total" name="Total">
      </div>

      <div class="form-group">
        <label for="Additional">Additional info</label>
        <textarea class="form-control form-control-lg" id="Additional" rows="3"></textarea>
      </div>

      <button type="button" class="btn btn-primary" id="submitButton" style="width: 200px; margin-right: 20px;" onclick="handleSubmit()">Submit</button>
      <button type="button" class="btn btn-secondary" style="width: 200px;" onclick="handlereset()">Reset</button>
    </form>
<br>

    <!-- This is where the link to the newly created job goes -->
    <label for="logistixAILINK" style="font-size: smaller;">LogistixAI PO - From last PR created:</label>
    <input type="text" id="logistixAILINK" placeholder="Once created, a link / URL will appear here" style="width: 100%; font-size: smaller; ">
    <br><br>

    <style>
      #dynamicLink {
        display: none;
        position: relative;
        left: -500px;
        transition: left 1.2s ease-in-out;
      }
      #dynamicLink.show {
        display: inline-block;
        left: 0;
      }
    </style>

    <a id="dynamicLink" href="#" class="btn btn-primary" target="_blank" style="display:none; width: 350px;">Open Exception in LogistixAI</a>

    <!-- This is the toast template -->
    <div class="toast" id="myToast" style="position: absolute; top: 20px; right: 20px;" data-delay="3000">
      <div class="toast-header">
        <strong class="mr-auto">PR Injection</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
      </div>
      <div class="toast-body" style="color: black;">
        Form Submitted - Please Wait
      </div>
    </div>


    <!-- This is the toast 2  template -->
    <div class="toast" id="myToastfinancial" style="position: absolute; top: 20px; right: 20px;" data-delay="3000">
      <div class="toast-header">
        <strong class="mr-auto">Financial Tab</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
      </div>
      <div class="toast-body" style="color: black;">
        Total Updated!
      </div>
    </div>




    <!-- Footer with questions coments concerns thing, Copyrights, version, and ⚡  -->
    <!-- ------------------------------------------------------------------------------ -->
     
    <hr>  
    <footer class="footer mt-5 text-center">

      <p> For any questions, comments, or suggestions, please email support@incredibleinstallations.com</p>

      <p>2024   <strong>Jake W</strong> | Ellis Ventures&copy; | LogistixAI. Only for Internal use. All rights reserved</p>
      <p style="font-size: xx-small;"> V - 7.6.24.003 <br>
        <a href="#" class="btn btn-link" id="clickLink">
        <i class="fa-solid fa-user-gear" style="color: rgb(70, 255, 230);">
          <span style="font-size: larger;">⚡</span></i> <!-- Font Awesome user icon -->
      </a> </p>
     
    </footer>

    <!-- ------------------------------------------------------------------------------ -->
    <!-- ------------------------------------------------------------------------------ -->     

  </div>


  <!-- Include Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


  
</body>
</html>

<script>
  $(document).ready(function(){
    $("#submitButton").click(function(){
      $("#myToast").toast('show');
    });
  });
</script>


  <!-- Include Bootstrap JS -->
  <!-- <script src="../Scripts/main.js"></script> -->
<script src="../Scripts/CreatePR.js"></script>
  


  <script>

    // Declare Bearer for all actions
    var bearerToken;

    // Actions when Submit is clicked - nest all API calls after this.
    function handleSubmit() {

         // Event listener to change the button text once clicked
         document.getElementById('submitButton').textContent = "Working on it...";      

        var originalURLValue = document.getElementById('originalURL').value;


        getJobInformation(originalURLValue);
        // updateExternalLink(originalURLValue);
        
        // getCustomerInfo();
    }
    

    // Clear all fields when reset is clicked   QuickCreateSelection
    function handlereset() {

         var originalURLValue = document.getElementById('originalURL').value;
         var QuickCreateValue = document.getElementById('QuickCreateSelection').value;
         

         document.getElementById('originalURL').value = '';
         document.getElementById('Total').value = '';
         document.getElementById('Additional').value = '';
         document.getElementById('originalURL').value = '';

         document.getElementById('submitButton').textContent = "Submit";      


    }


    

  </script>

   <!-- Now the good stuff -->
   <script>
    let clickCount = 0;
    let clickTimer;

    document.getElementById('clickLink').addEventListener('click', function(event) {
        console.log("heillfsa");
        event.preventDefault(); // Prevent the default link behavior
        clickCount++;
        
        if (clickCount === 1) {
            clickTimer = setTimeout(function() {
                clickCount = 0;
            }, 10000);
        }

        if (clickCount >= 10) {
            clearTimeout(clickTimer);
            console.log("Click");
            window.location.href = '../Keypad/index.html'; // The URL to open


        }
    });
</script>