<!DOCTYPE html>
<html>
<head>
  <title>Create Exception PO</title>
  <link rel="icon" type="image/x-icon" href="../images/coding.png">
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <link rel="stylesheet" href="../CSS/mainstyle.css">




</head>
<body>
  <div class="container">
    <br><br><br>
    <h1>Create Internal PR / Exception</h1>

    <form>
      <hr>  
      <p>
        Use this form to create an internal PR in LogistixAI based on the original Job GUID. </p>
        <p>I will be making periodic improvements and enhancemenets as time goes on. </p>
      </p>
      <div class="form-group">
        <label for="originalURL">Original Job GUID  </label>
        <input type="text" class="form-control" id="originalURL" name="originalURL">
      </div>


      <!-- Need to figure out how to fire off a jacascript function when one of 
        these is clicked so that it populates the feilds below -->
      <div class="form-group">
        <label for="QuickCreateSelection">🌟 Quick Create - DONT USE YET</label>
        <select multiple class="form-control form-control-lg" id="QuickCreateSelection" style="height: 155px;">
          <option>🟦 Lowes PR - Trip Charge *WIP*</option>
          <option>🟦 Lowes PR - Additional or Missing Labor *WIP*</option>
          <option>🟦 Lowes PR - Other *WIP* - Please provide description</option>
          <option>🟦 Lowes KIT - Design Review *WIP*</option>
          <option>🟨 Home Depot - *WIP*</option>
        </select>
      </div>

      <div class="form-group">
        <label for="Total">PR #</label>
        <input type="text" class="form-control" id="prNum" name="prNum">
      </div>

      <div class="form-group">
        <label for="Total">PR Amount</label>
        <input type="text" class="form-control" id="Total" name="Total">
      </div>

      <div class="form-group">
        <label for="Additional">PR Number / Additional info</label>
        <textarea class="form-control form-control-lg" id="Additional" rows="3"></textarea>
      </div>

      <button type="button" class="btn btn-primary" id="submitButton" style="width: 200px; margin-right: 20px;" onclick="handleSubmit()">Submit</button>
      <button type="button" class="btn btn-secondary" style="width: 200px;" onclick="handlereset()">Reset</button>
    </form>
<br>

    <!-- This is where the link to the newly created job goes -->
    <label for="logistixAILINK" style="font-size: smaller;">LogistixAI PO - From last PR created:</label>
    <input type="text" id="logistixAILINK" placeholder="Once created, a link / URL will appear here" style="width: 100%; font-size: smaller; ">
    <br><br>

    <style>
      #dynamicLink {
        display: none;
        position: relative;
        left: -500px;
        transition: left 1.2s ease-in-out;
      }
      #dynamicLink.show {
        display: inline-block;
        left: 0;
      }
    </style>

    <a id="dynamicLink" href="#" class="btn btn-primary" target="_blank" style="display:none; width: 350px;">Open Exception in LogistixAI</a>


    <hr>  
    <!-- <p style="align-items: center;">For any questions, comments, or concerns, please email support@incredibleinstallations.com</p> -->

    <footer class="footer mt-5 text-center">

      <p> For any questions, comments, or suggestions, please email support@incredibleinstallations.com</p>

      <p>2024   <strong>Jake W</strong> | Ellis Ventures&copy; | LogistixAI. Only for Internal use. All rights reserved</p>
      <p style="font-size: xx-small;"> V - 6.23.24</p>
     
    </footer>

  </div>


  <!-- Include Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


  
</body>
</html>


  <!-- Include Bootstrap JS -->
  <!-- <script src="../Scripts/main.js"></script> -->
<script src="../Scripts/CreatePR.js"></script>
  


  <script>

    // Declare Bearer for all actions
    var bearerToken;

    // Actions when Submit is clicked - nest all API calls after this.
    function handleSubmit() {

         // Event listener to change the button text once clicked
         document.getElementById('submitButton').textContent = "Working on it...";      

        var originalURLValue = document.getElementById('originalURL').value;


        getJobInformation(originalURLValue);
        // updateExternalLink(originalURLValue);
        
        // getCustomerInfo();
    }
    

    // Clear all fields when reset is clicked   QuickCreateSelection
    function handlereset() {

         var originalURLValue = document.getElementById('originalURL').value;
         var QuickCreateValue = document.getElementById('QuickCreateSelection').value;
         

         document.getElementById('originalURL').value = '';
         document.getElementById('Total').value = '';
         document.getElementById('Additional').value = '';
         document.getElementById('originalURL').value = '';

         document.getElementById('submitButton').textContent = "Submit";      


    }




  </script>

