<!DOCTYPE html>
<html>
<head>
  <title>Text Fields Example</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <style>
        body{
            background-color: rgb(166, 206, 241);
        }

    </style>
    
    <link rel="stylesheet" href="../CSS/mainstyle.css">


</head>
<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <img style="width: 11%; margin-right: 40px;" src="../images/incredible Logo.png" alt="Incredible">
      <!-- <a class="navbar-brand" href="#">Your Logo</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
    
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" style="font-size: medium; font-weight: bold; color: #222;" href="https://jwilly117.github.io/Incr.Apps/views/createPR.html"> 👈 Go Back</a>
          </li>
     
          <!-- <li class="nav-item">
            <a class="nav-link" style="font-size: medium; font-weight: bold; color: #222; margin-left: 40px;" href="" onclick="alert('Coming Soon...')">Week View</a>
          </li> -->
        </ul>
      </div>
  
      <div class="ml-auto">
        
      </div>

     

    


    </nav>
  </header>
  <div class="container">


    
    <br><br><br>
    <h1>Import Job Into LogistixAI</h1>
    <p>This tool is used to manually import a job into logistixAI. Please check the job number in logistix to see if it is there BEFORE using this tool. However, the system should flag it as a duplicate and refuse to make another order. 
<hr>

    </p>
    <h5>Please allow up to 30 seconds for the job to appear in Logistix</h5>

    <form>
      <div class="form-group">
        <label for="field1">Job Number</label>
        <input type="text" class="form-control" id="field1" name="field1">
      </div>

      <!-- <div class="form-group">
        <label for="field2">URL</label>
        <input type="text" class="form-control" id="field2" name="field2">
      </div> -->

      <button type="button" class="btn btn-primary" onclick="handleSubmit()">Import!</button>
    </form>
    <!-- Footer with questions coments concerns thing, Copyrights, version, and ⚡  -->
    <!-- ------------------------------------------------------------------------------ -->
     
    <hr>  
    <footer class="footer mt-5 text-center">

      <p> For any questions, comments, or suggestions, please email support@incredibleinstallations.com</p>

      <p>2024   <strong>Jake W</strong> | Ellis Ventures&copy; | LogistixAI. Only for Internal use. All rights reserved</p>
      <p style="font-size: xx-small;"> V - 7.6.24.003 <br>
        <a href="#" class="btn btn-link" id="clickLink">
        <i class="fa-solid fa-user-gear" style="color: rgb(70, 255, 230);">
          <span style="font-size: larger;">⚡</span></i> <!-- Font Awesome user icon -->
      </a> </p>
     
    </footer>

    <!-- ------------------------------------------------------------------------------ -->
    <!-- ------------------------------------------------------------------------------ --> 


  </div>


  <!-- Include Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>




</body>
</html>


  <!-- Include Bootstrap JS -->
  <script src="../Scripts/main.js"></script>
  <script src="../Scripts/main.js"></script>
  
  <script>
    var bearerToken;

    

    function handleSubmit() {
      // Retrieve the values from the text fields
      var field1Value = document.getElementById('field1').value;
      
      // Perform any desired actions with the values
      console.log('Field 1 value:', field1Value);
      
      // Add your custom logic here
      const token = bearerToken;

        const headers = {
            'Authorization': `Bearer ${token}`
        };


        // Here is where I will make the Axios POST
        const data3 = 
        {
        "jobId": field1Value,
        "jobType": "job"
        } 
                axios.post('https://api.logistixai.com/api/orders/v5/import', data3, { headers })
                .then(response => {
                       console.log(response);


                    })
                    .catch(error => {
                        console.error('Error:', error);
                        
                    });

      
      // Example: Display an alert with the values
      // alert('Field 1 value: ' + field1Value + '\nField 2 value: ' + field2Value);



      // Clear the text fields
      document.getElementById('field1').value = '';
    }
  </script>

