.form-label{
    font-weight: bolder;
}
body{
    background-color: rgb(255, 247, 204);
}

img{
    width: 100%;
}

footer{
    background-color: rgb(217, 217, 217);
    padding-top: 15px;
    padding-bottom: 10px;
    font-weight: bold;
}

h2{
    color: rgb(68, 68, 68);
}

#sideButton{
    float: right;
    width: 15%;
    justify-content: right;
}

p {
    margin-top: 0;
    margin-bottom: 15px;
}

.mt-5 {
    margin-top: 1rem!important;
}

.group{
    font-size: large;
}

.form-check-label .source {
    margin-right: 10px; /* Adjust the spacing as needed */
  }

.source{
    margin-right: 20px; /* Adjust the spacing as needed */

}

.form-check-input[type="radio"] {
    width: 26px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
    margin-right: 10px; /* Adjust the spacing as needed */

}


li{
    font-size: large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

a{
    color: aqua;
    font-size: large;
}

#bearerConfirm{
    background-color: grey;
    border-radius: 8px;
    color: white;
}

#textfield2{
    border-radius: 5px;
    background-color: grey;
    color: white;
}

#buttonsToHide{
    display: block;
}
button{
    margin-top: 5px;
}